In [1]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is A8C7-1E41

 Directory of C:\Users\PATRICK\Desktop\MLAI\brand_comparison

09/05/2022  01:26 AM    <DIR>          .
09/05/2022  01:26 AM    <DIR>          ..
09/05/2022  01:24 AM    <DIR>          .ipynb_checkpoints
09/04/2022  11:50 PM           270,186 AbsaKenya.csv
09/04/2022  11:50 PM           423,738 Airtel_KE.csv
09/04/2022  11:50 PM           433,524 Apple.csv
09/04/2022  07:59 AM             1,915 data_streamer.py
09/04/2022  11:50 PM           330,436 KCBGroup.csv
09/04/2022  11:50 PM           372,528 KeEquityBank.csv
09/04/2022  08:03 PM               850 log_reg_mlflow_example.py
09/04/2022  07:50 PM    <DIR>          mlruns
09/04/2022  11:49 PM           429,227 Nokia.csv
09/04/2022  11:49 PM           372,161 Safaricom.csv
09/04/2022  11:49 PM           437,628 Samsung.csv
09/05/2022  01:18 AM             3,328 single_entity_exp.py
09/04/2022  06:19 AM                 0 single-entity_sentiment_analysis.py
09/04/2022  06:19 AM                 0 single-entity_sentiment_analysis.txt
09/04/2022  11:48 PM           106,549 TelkomKenya.csv
09/05/2022  01:26 AM               830 Untitled.ipynb
              15 File(s)      3,182,900 bytes
               4 Dir(s)  78,879,645,696 bytes free

In [17]:
sample_df = pd.read_csv("TelkomKenya.csv")
sample_df.head(2)

,Date,User,Tweet,clean_tweets
0,2022-09-04 14:28:15+00:00,Telkom Kenya,"@CalvinceOoko2 Hello @CalvinceOoko2, apologies...","Hello , apologies inconvenience. Kindly copy-p..."
1,2022-09-04 13:52:27+00:00,Calvince Ooko,@TelkomKenya @glincsservice I purchased my cre...,I purchased credit safaricom disappeared refle...

In [18]:
sent_analyzer = SentimentIntensityAnalyzer()
sample_df['compound_score'] = sample_df['clean_tweets'].apply(lambda x: sent_analyzer.polarity_scores(str(x))['compound'])
sample_df.head(2)

,Date,User,Tweet,clean_tweets,compound_score
0,2022-09-04 14:28:15+00:00,Telkom Kenya,"@CalvinceOoko2 Hello @CalvinceOoko2, apologies...","Hello , apologies inconvenience. Kindly copy-p...",0.4404
1,2022-09-04 13:52:27+00:00,Calvince Ooko,@TelkomKenya @glincsservice I purchased my cre...,I purchased credit safaricom disappeared refle...,0.1779

In [19]:
sample_df['compound_score'].min(), sample_df['compound_score'].max()

(-0.8519, 0.891)

In [28]:
sample_df['label'] = sample_df['compound_score'].apply(lambda x: "Positive" if x > 0.00 else "Negative" if x< 0.00 else "Neutral")
sample_df.head()

,Date,User,Tweet,clean_tweets,compound_score,label
0,2022-09-04 14:28:15+00:00,Telkom Kenya,"@CalvinceOoko2 Hello @CalvinceOoko2, apologies...","Hello , apologies inconvenience. Kindly copy-p...",0.4404,Positive
1,2022-09-04 13:52:27+00:00,Calvince Ooko,@TelkomKenya @glincsservice I purchased my cre...,I purchased credit safaricom disappeared refle...,0.1779,Positive
2,2022-09-04 13:49:18+00:00,Telkom Kenya,@liberty_organic @TelkomCare_Ke Hello @liberty...,"Hello , apologies delay, still following yourâ€¦",-0.3182,Negative
3,2022-09-04 13:46:51+00:00,philBE,@SubOptic2022 @emarine_pjsc @PCCWGlobal @Telko...,â€¦,0.0000,Neutral
4,2022-09-04 13:36:27+00:00,LIBERTY ORGANIC FARM,@TelkomKenya please resolve ticket number 6251...,please resolve ticket number 6251647 soon poss...,0.4404,Positive